* {
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: table;
    padding: 10px;
}

.pseudo-cell {
    width: 50%;
    display: table-cell;
}

.second {
    text-align: right;
}

#logo-button {
    height: 30px;
}

#menu-button {
    height: 30px;
}

.banner {
    background: url("assets/spices.jpg") no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 300px 0px;
}

.heading-primary {
    color: white;
    display: block;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.button {
    padding: 5px 35px;
    background-color: yellow;
    color: goldenrod;
    border: 6px solid;
    border-color: goldenrod;
    border-radius: 100px;
    font-size: 20px;
    text-decoration: none;
}

.main-container {
    background-color: lightgrey;
}
.container {
    padding: 20px 100px;
    height: 200px;
}

.svg-button {
    height: 55px;
    width: 60px;
}

.column {
    display: inline-block;
    width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.box {
    display: inline-block;
    margin: 10px 20px;
}

.info {
    display: inline-block;
    margin-left: 10px;
    width: 80%;
}
