* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: orange;
    flex-basis: 70px;
}

main {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

footer {
    background-color: pink;
    flex-basis: 30px;
}
