#kitties {
    height: 600px;
    position: relative;
    overflow: hidden;
}

#kitties img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
}

#kitties img.onscreen {
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 3s;
}

#kitties img.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 3s;
}

.dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.dot {
    border: black solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.on {
    background-color: white;
}
