<h1>Hey!<br>
I'm Sinem<br> 
Here is my portfolio!</h1>

<div class ="container"> 
    {{#myProjects}}
    <a href="/{{directory}}" class="title">{{title}}></a>
    <a href="/{{directory}}"><img src="/{{directory}}/screenshot.png" width="500px" height="400px">
    </a>
    {{/myProjects}}
</div>


