body {
    background-image: url(female-developer.jpg);
    background-size: cover;
    color: white;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 50px 50px;
}

.title {
    position: relative;
    right: 150px;
    color: white;
    font-size: 30px;
}
