
   {{#myProjects}}
    <a href="/project/{{directory}}" class="title">{{title}}></a>
    <a href="/project/{{directory}}"><img src="/{{directory}}/screenshot.png" width="500px" height="400px">
    </a>
    {{/myProjects}}


    
